<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Accident IoT</title>
    </head>
    <body class="container">

      <div class="row">
          <div class="col">
              <h3> <a href="http://127.0.0.1:5000/"> Accident Data </a> </h3>
          </div>
      </div>

        <div class="row">
            <div class="col">
              <h5> Here are the hashes of the accidents with their corresponding web pages.</h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Accident Hashes</th>
                            <th>Finalised Status</th>
                            <th>Web Page</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hash  in hashes %}
                            <tr>
                                <td>{{ hash }}</td>
                                <td>{{ isFinalisedList[hash] }}</td>
                                <td><a href="/contract/{{hash}}">setup page</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
