{% extends 'layout.html' %}

{% block body %}

<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/vega@5.3.5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.2.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>

<center> <div id="vis"></div> </center>

<script type="text/javascript">
  var yourVlSpec = {
    $schema: 'https://vega.github.io/schema/vega-lite/v3.2.1.json',
    description: 'Acceleration figure',
    width: 900,
    height: 400,
    data: { values : {{ data|safe }} } ,
    mark: "line",
    encoding: {
    x: { field: "x", type: "quantitative" , scale: { domain: [0 , 60]} },
    y: { field: "y", type: "quantitative", scale: { domain: [10000 , 30000]} }
  }
  };
  vegaEmbed('#vis', yourVlSpec);
</script>


<script type="text/javascript">
  var timeout = setTimeout("location.reload(true);",1000);
  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",1000);
  }
</script>


<br>
<br>

{% endblock %}
